/* You can add global styles to this file, and also import other style files */
#upbar {
	background-color:gray;
	color: white !important;
}

.material-icons {
	vertical-align: middle;
}

.nav-link {
	color: white !important;
}

.footer {
	background-color:gray;
	position: fixed;
	color: white;
	width: 100%;
	bottom: 0;
}

.price {
	float: right;
	color: brown;
}

.right {
	color: blue;
}

.cart {
	background-color: tomato;
	color: white;
}

.right1 {
	color: white;
}

.text-color {
	color: brown;
}

.btn:hover {
	color: white;
}

.launch {
	font-size: 15px;
}

.jumbotron {
	background-image:
		url("https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	height: 100%;
	background-size: cover;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.color {
	color: white;
}

.save:hover {
	color: white;
}

.save {
	background-color: tomato;
	color: white;
}

.cartpr {
	float: right;
	color: brown;
}

.gray {
	color: gray;
}

.big {
	font-size: 25px;
	color: black;
}

.edit .invalid-feedback {
	display: block;
}
.bimage
{
	background-image: url("https://www.google.com/search?q=blood+bank+images&rlz=1C1GCEU_enIN855IN855&tbm=isch&source=iu&ictx=1&fir=wTiLuQy5VWUSXM%253A%252C7Qx_UtKiuwH6_M%252C_&vet=1&usg=AI4_-kT8NmI9hU2VOgQ8ltjpDkOJpjAsdQ&sa=X&ved=2ahUKEwj96YLY3oTmAhW-73MBHS94BwIQ9QEwB3oECAgQNw#imgrc=wTiLuQy5VWUSXM:");
	height:100%;
	width:100%;
	
}
.sz
{
	width:50%;
	color:black;
	background-color: whitesmoke;
	size:80%;
}
.card1{
    position:fixed;
    top: 15%;
    left: 15%;
    background-color: white;
    opacity: 0.90;
    width: 50rem
}
.button1 {border-radius: 12px;}

.card2{
    position:fixed;
    top: 15%;
    left: 62%;
    background-color: white;
    opacity: 0.90;
    width: 25rem

}
.card3{
    position:fixed;
    top: 35%;
    left: 62%;
    background-color: white;
    opacity: 0.90;
    width: 25rem

}
