/* You can add global styles to this file, and also import other style files */
#upbar {
	background-color:gray;
	color: white !important;
}

.material-icons {
	vertical-align: middle;
}

.nav-link {
	color: white !important;
}

.footer {
	background-color:gray;
	position: fixed;
	color: white;
	width: 100%;
	bottom: 0;
}

.price {
	float: right;
	color: brown;
}

.right {
	color: blue;
}

.cart {
	background-color: tomato;
	color: white;
}

.right1 {
	color: white;
}

.text-color {
	color: brown;
}

.btn:hover {
	color: white;
}

.launch {
	font-size: 15px;
}

.jumbotron {
	background-image:
		url("https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	height: 100%;
	background-size: cover;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.color {
	color: white;
}

.save:hover {
	color: white;
}

.save {
	background-color: tomato;
	color: white;
}

.cartpr {
	float: right;
	color: brown;
}

.gray {
	color: gray;
}

.big {
	font-size: 25px;
	color: black;
}

.edit .invalid-feedback {
	display: block;
}

.sz
{
	width:50%;
	color:black;
	background-color: whitesmoke;
	size:80%;
}
.card1{
    position:fixed;
    top: 15%;
    left: 15%;
    background-color: white;
    opacity: 0.90;
    width: 50rem
}
.button1 {border-radius: 12px;}

.card2{
    position:fixed;
    top: 15%;
    left: 62%;
    background-color: white;
    opacity: 0.90;
    width: 25rem

}
.card3{
    position:fixed;
    top: 35%;
    left: 62%;
    background-color: white;
    opacity: 0.90;
    width: 25rem

}
.card4{
    position:fixed;
    bottom: 15%;
    left: 15%;
    background-color: white;
    opacity: 0.90;
    width: 25rem
}
/* .one1{
height:60%;
width:500px;
} */
.abcde
{
	background-color:white;
}
.bimage {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  
    /* Control the height of the image */
    min-height: 900px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .bimage1 {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1504439468489-c8920d796a29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  
    /* Control the height of the image */
    min-height: 900px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
 