<div class="container">
    <div class="card card1">
            <div class="card-header">
                    <h4>Search your requirement</h4>
            </div>
            <div class="card-body">
                    <form [formGroup]="loginSearchForm">
                            <div class="row ml-5 mr-5">
                                    <div class="col-md-6 col-xs-12 mt-3">
                                        <label for="state">State</label>
                                            <select class="form-control" formControlName="state" id="state" name="state" required>
                                                    <option value="">Select State</option>
                                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                    <option value="Assam">Assam</option>
                                                    <option value="Bihar">Bihar</option>
                                                    <option value="Chandigarh">Chandigarh</option>
                                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                                    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                                    <option value="Daman and Diu">Daman and Diu</option>
                                                    <option value="Delhi">Delhi</option>
                                                    <option value="Goa">Goa</option>
                                                    <option value="Gujarat">Gujarat</option>
                                                    <option value="Haryana">Haryana</option>
                                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                    <option value="Jharkhand">Jharkhand</option>
                                                    <option value="Karnataka">Karnataka</option>
                                                    <option value="Kerala">Kerala</option>
                                                    <option value="Lakshadweep">Lakshadweep</option>
                                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                    <option value="Maharashtra">Maharashtra</option>
                                                    <option value="Manipur">Manipur</option>
                                                    <option value="Meghalaya">Meghalaya</option>
                                                    <option value="Mizoram">Mizoram</option>
                                                    <option value="Nagaland">Nagaland</option>
                                                    <option value="Orissa">Orissa</option>
                                                    <option value="Pondicherry">Pondicherry</option>
                                                    <option value="Punjab">Punjab</option>
                                                    <option value="Rajasthan">Rajasthan</option>
                                                    <option value="Sikkim">Sikkim</option>
                                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                                    <option value="Tripura">Tripura</option>
                                                    <option value="Uttaranchal">Uttaranchal</option>
                                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                    <option value="West Bengal">West Bengal</option>
                                                    </select>
                                                    <div class ="text-danger" *ngIf = "state.invalid && state.errors.required && state.touched">state is required</div>  
               
                                                    </div>
                    
                                                    <div class="col-md-6 col-xs-12 mt-3">
                                                <label for="area">Area</label>
                                                                <select class="form-control" formControlName="area" id="area" name="area">
                                                                        <option value="">Select Area</option>
                                                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                                        <option value="Assam">Assam</option>
                                                                        <option value="Bihar">Bihar</option>
                                                                        <option value="Chandigarh">Chandigarh</option>
                                                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                                                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                                                        <option value="Daman and Diu">Daman and Diu</option>
                                                                        <option value="Delhi">Delhi</option>
                                                                        <option value="Goa">Goa</option>
                                                                        <option value="Gujarat">Gujarat</option>
                                                                        <option value="Haryana">Haryana</option>
                                                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                                        <option value="Jharkhand">Jharkhand</option>
                                                                        <option value="Karnataka">Karnataka</option>
                                                                        <option value="Kerala">Kerala</option>
                                                                        <option value="Lakshadweep">Lakshadweep</option>
                                                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                                        <option value="Maharashtra">Maharashtra</option>
                                                                        <option value="Manipur">Manipur</option>
                                                                        <option value="Meghalaya">Meghalaya</option>
                                                                        <option value="Mizoram">Mizoram</option>
                                                                        <option value="Nagaland">Nagaland</option>
                                                                        <option value="Orissa">Orissa</option>
                                                                        <option value="Pondicherry">Pondicherry</option>
                                                                        <option value="Punjab">Punjab</option>
                                                                        <option value="Rajasthan">Rajasthan</option>
                                                                        <option value="Sikkim">Sikkim</option>
                                                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                                                        <option value="Tripura">Tripura</option>
                                                                        <option value="Uttaranchal">Uttaranchal</option>
                                                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                                        <option value="West Bengal">West Bengal</option>
                                                                        </select>
                                                                        <div class ="text-danger" *ngIf = "area.invalid && area.errors.required && area.touched">Area is required</div>  
             
                                                                        </div>
                                                                    </div>
                                                                    <br/>
                                <div class="row ml-5 mr-5">
                                <div class="col-md-6 col-xs-12 mt-3">
                                <label for="pincode">Pin Code</label>
                                <input type="number" class="form-control" id="pincode" formControlName="pincode" placeholder="Enter Pincode" name="pincode">
                                <div class="text-danger" *ngIf="pincode.invalid && pincode.errors.required && pincode.touched">Pincode is required</div>
                                <div class="text-danger" *ngIf="pincode.errors?.min || pincode.errors?.max">Invalid PINCODE</div>
                                </div>
                                <div class="col-md-6 col-xs-12 mt-3">
                                        <label for="bloodgroup">Blood Group</label>
                                        <select class="form-control" formControlName="bloodgroup" id="bloodgroup" name="bloodgroup">
                                                <option value="">Select Blood Group</option>
                                                <option value="Apositive">A +ve</option>
                                                <option value="Anegative">A -ve</option>
                                                <option value="Bpositive">B +ve</option>
                                                <option value="Bnegative">B -ve</option>
                                                <option value="Opositive">O +ve</option>
                                                <option value="Onegative">O -ve</option>
                                                <option value="ABpositive">AB +ve</option>
                                                <option value="ABnegative">AB -ve</option>   
                                </select>
                                <div class ="text-danger" *ngIf = "bloodgroup.invalid && bloodgroup.errors.required && bloodgroup.touched">Blood group is required</div>  
  
                            </div>
                            </div>
                     <br/>  
                     <div class="row ml-5 mr-5">   
                                    <div class="col-md-6 col-xs-12 mt-3">      
              <a routerLink="registration/" class="btn btn-primary button1">Search</a>
            </div>
    </div>
            </form>
            </div>
          </div>

    <div class="card card2">
    <div class="card-header">
    <h4>In need of blood??</h4>
    </div>
    <div class="card-body">
    <p>Click below to raise a request</p>
    <button type="submit" class="btn btn-danger" (click)="requestblood()">Request for Blood</button>

    </div>
    </div>
    <div class="card card3">
                    <div class="card-header">
                    <h4>Want to Donate???</h4>
                    </div>
                    <div class="card-body">
                    <p>Click below to donate blood</p>
                    <button type="submit" class="btn btn-danger" (click)="donateBlood()">Donate Blood</button>
            
            
                    </div>
                    </div>
    
</div>
